.animated-bg {
  /* background: linear-gradient(-45deg, #111625, #341931, #571b3c, #222); */

  /* height: 100vh; */
  background: url('https://i.imgur.com/EkyPgDe.png');
  background-position: center;

  position: relative;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-bg-cover {
  z-index: -1;

  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.5), rgba(20, 20, 20, 0.9));
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
